*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/deploymentTargetDropDown.xml
/.idea/codeStyles/Project.xml
/.idea/.gitignore
/app/.gitignore
/ui/.gitignore
/domain/.gitignore
/data/.gitignore
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/res/values/api_key.xml
.idea/codeStyles
.idea/inspectionProfiles
jarRepositories.xml
kotlinc.xml
vcs.xml
